* {
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: #ace2c1;
}
p {
  color: #12022b;
}
.wrapper {
  width: 75%;
  margin: 0 auto;
  background: #12022b;
}
.container {
  width: 95%;
  margin: 0 auto;
  background-color: #ace2c1;
}
.layout-section {
  width: 95%;
  height: 50%;
  margin: 15px auto;
}
.layout-section .layout-section-content {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  height: 50%;
}
.layout-section .layout-section-content .content-wrapper {
  width: 90%;
  margin: 0 auto;
}
.layout-section .layout-section-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.layout-section .layout-section-content.full {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .wrapper {
    width: 95%;
  }
  .container {
    width: 95%;
  }
  .layout-section {
    display: inherit;
  }
  .layout-section .layout-section-content {
    width: 100%;
    display: inherit;
  }
}
@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('../fonts/CaviarDreams-webfont.eot');
  src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/CaviarDreams-webfont.woff') format('woff'), url('../fonts/CaviarDreams-webfont.ttf') format('truetype'), url('../fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lakesight_personal_use_onlyRg';
  src: url('../fonts/lakesight_personaluseonly-webfont.eot');
  src: url('../fonts/lakesight_personaluseonly-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lakesight_personaluseonly-webfont.woff') format('woff'), url('../fonts/lakesight_personaluseonly-webfont.ttf') format('truetype'), url('../fonts/lakesight_personaluseonly-webfont.svg#lakesight_personal_use_onlyRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.ui-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-header {
  width: 100%;
  text-align: center;
  background: #12022b;
  color: #eaeac1;
}
.site-header .site-title {
  display: table;
  width: 100%;
  height: 400px;
}
.site-header .site-title .logo {
  display: table-cell;
  vertical-align: middle;
  font-size: 90px;
  font-family: 'caviar_dreamsregular';
}
.site-header .site-title .logo span {
  display: inline-block;
  font-size: 200px;
  font-weight: 100;
  font-family: 'lakesight_personal_use_onlyRg';
  margin-left: 8px;
}
.site-header img {
  width: 100%;
}
.site-header .site-nav li {
  text-align: center;
  display: inline-block;
  width: 14.285714285714285%;
  height: 50px;
  font-family: 'caviar_dreamsregular';
  font-size: 20px;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.site-header .site-nav li a {
  color: #ace2c1;
  text-decoration: none;
}
.site-header .site-nav li:hover {
  background-color: #ace2c1;
}
.site-header .site-nav li:hover a {
  color: #12022b;
}
footer {
  background-color: #12022b;
  text-align: center;
  color: #eaeac1;
  height: 400px;
}
footer .footer-container {
  padding-top: 100px;
  height: 400px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer span {
  width: 100%;
  display: block;
  line-height: 1;
}
footer span.ft-prompt {
  font-size: 75px;
  font-weight: 100;
  font-family: 'lakesight_personal_use_onlyRg';
}
footer span.ft-hashtag {
  font-size: 125px;
  font-family: 'caviar_dreamsregular';
}
.section-hd {
  font-size: 40px;
  font-family: 'caviar_dreamsregular';
  text-align: center;
  margin-bottom: 15px;
}
p {
  font-size: 14px;
}
.back-to-top {
  font-family: 'caviar_dreamsregular';
  color: #12022b;
  display: block;
  width: 100%;
  padding-top: 15px;
  text-align: center;
  text-decoration: none;
}
.back-to-top:before {
  content: '- ';
}
.back-to-top:after {
  content: ' -';
}
.back-to-top:hover {
  text-decoration: none;
}
.people-list {
  text-align: center;
  margin-bottom: 30px;
}
.people-list li {
  width: 20%;
  display: inline-block;
  margin-left: 30px;
}
.people-list li .people-img-container {
  position: relative;
  width: 100%;
}
.people-list li .people-img-container img {
  width: 100%;
  border-radius: 50%;
}
.people-list li .people-img-container .bridal-list-name {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
}
