.ui-list {
  list-style-type: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.layout-section {
  margin-bottom: 35px;
  zoom: 1;
}
.layout-section:before {
  content: '';
  display: block;
}
.layout-section:after {
  content: '';
  display: table;
  clear: both;
}
.layout-section .layout-section-content {
  width: 50%;
}
.layout-section .layout-section-content .content-wrapper {
  width: 75%;
  margin: 0 auto;
}
.layout-section .layout-section-content img {
  display: block;
  margin: 0 auto;
}
.layout-section .layout-section-content.left {
  float: left;
}
.layout-section .layout-section-content.right {
  float: right;
}
header {
  width: 100%;
  text-align: center;
}
