@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: 'Vollkorn', serif;
  background-color: #fff;
}
p {
  margin: 15px 15px;
  font-size: 16px;
  color: #12022b;
}
p.bold,
p strong {
  font-weight: 700;
}
a {
  color: #12022b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.wrapper {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  background: #12022b;
  -webkit-box-shadow: 0px 10px 10px 10px #c0c0c0;
  -moz-box-shadow: 0px 10px 10px 10px #c0c0c0;
  box-shadow: 0px 10px 10px 10px #c0c0c0;
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.container {
  margin: 0 auto;
  background-color: #ace2c1;
}
.layout-section {
  padding: 0 0 50px 0;
}
.layout-section .layout-section-content {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  height: 50%;
}
.layout-section .layout-section-content .content-wrapper {
  margin: 0 auto;
}
.layout-section .layout-section-content .content-wrapper.center {
  text-align: center;
}
.layout-section .layout-section-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.layout-section .layout-section-content img.full {
  width: 100%;
}
.layout-section .layout-section-content.full {
  display: block;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .wrapper {
    width: 95%;
  }
  .container {
    width: 95%;
  }
  .layout-section {
    display: inherit;
  }
  .layout-section .layout-section-content {
    width: 100%;
    display: inherit;
  }
}
@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('../fonts/CaviarDreams-webfont.eot');
  src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/CaviarDreams-webfont.woff') format('woff'), url('../fonts/CaviarDreams-webfont.ttf') format('truetype'), url('../fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lakesight_personal_use_onlyRg';
  src: url('../fonts/lakesight_personaluseonly-webfont.eot');
  src: url('../fonts/lakesight_personaluseonly-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lakesight_personaluseonly-webfont.woff') format('woff'), url('../fonts/lakesight_personaluseonly-webfont.ttf') format('truetype'), url('../fonts/lakesight_personaluseonly-webfont.svg#lakesight_personal_use_onlyRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.ui-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-header {
  width: 100%;
  text-align: center;
  background: #12022b;
  color: #eaeac1;
}
.site-header .site-title {
  display: table;
  width: 100%;
  height: 260px;
}
.site-header .site-title .site-title-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.site-header .site-title .site-title-wrapper img {
  max-width: 800px;
}
.site-header img {
  width: 100%;
}
.site-header .site-nav {
  background: #12022b;
  margin: 0 auto;
  zoom: 1;
  display: block;
}
.site-header .site-nav:before {
  content: '';
  display: block;
}
.site-header .site-nav:after {
  content: '';
  display: table;
  clear: both;
}
.site-header .site-nav li {
  float: left;
  width: 16.66666667%;
}
.site-header .site-nav a {
  text-align: center;
  color: #ace2c1;
  display: block;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  font-size: 18px;
  font-family: 'caviar_dreamsregular';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.site-header .site-nav a:hover {
  background-color: #ace2c1;
  color: #12022b;
  text-decoration: none;
}
footer {
  background-color: #12022b;
  text-align: center;
  color: #eaeac1;
  padding: 50px;
}
footer .footer-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer .ft-text {
  width: 100%;
  display: block;
  line-height: 1;
}
footer .ft-text.ft-prompt {
  font-size: 75px;
  font-weight: 100;
  font-family: 'lakesight_personal_use_onlyRg';
}
footer .ft-text.ft-hashtag {
  font-size: 125px;
  font-family: 'caviar_dreamsregular';
}
footer #clock {
  font-size: 24px;
  font-family: 'caviar_dreamsregular';
  margin: 0 0 25px 0;
}
footer #clock .digits {
  display: inline-block;
}
.section-hd {
  font-size: 40px;
  font-family: 'caviar_dreamsregular';
  text-align: left;
  margin-bottom: 15px;
  background: #12022b;
  color: #ace2c1;
  width: 50%;
  padding: 15px;
  -webkit-box-shadow: 4px 4px 5px 0px #c0c0c0;
  -moz-box-shadow: 4px 4px 5px 0px #c0c0c0;
  box-shadow: 4px 4px 5px 0px #c0c0c0;
}
@media screen and (max-width: 768px) {
  .section-hd {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
  }
}
.section-sub-hd {
  font-size: 24px;
  font-family: 'caviar_dreamsregular';
  text-align: center;
  margin: 15px 0;
}
.lead {
  font-size: 26px;
  width: 70%;
  margin: 50px auto;
}
@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}
.back-to-top {
  font-family: 'caviar_dreamsregular';
  color: #12022b;
  display: block;
  width: 100%;
  padding-top: 15px;
  text-align: center;
  text-decoration: none;
}
.back-to-top:before {
  content: '- ';
}
.back-to-top:after {
  content: ' -';
}
.back-to-top:hover {
  text-decoration: none;
}
.video {
  max-width: 860px;
  margin: 0 auto;
}
.people-list {
  margin: 25px auto;
  display: block;
  text-align: center;
  zoom: 1;
}
.people-list:before {
  content: '';
  display: block;
}
.people-list:after {
  content: '';
  display: table;
  clear: both;
}
.people-list li {
  margin: 0 25px 0 0;
  display: inline-block;
}
.people-list li img {
  border-radius: 50%;
}
.people-list li .people-img-container {
  position: relative;
}
.people-list li .people-text-container {
  background: #12022b;
  opacity: 0;
  position: absolute;
  top: 0px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  -webkit-transition: opacity 300ms ease-in;
  -moz-transition: opacity 300ms ease-in;
  -o-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.people-list li .people-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  color: #eaeac1;
}
.people-list li .people-title {
  display: block;
  text-align: center;
}
.people-list li:hover .people-text-container {
  opacity: 1;
}
.sub-hd {
  font-family: 'caviar_dreamsregular';
  margin-bottom: 15px;
}
.destination-guide {
  zoom: 1;
}
.destination-guide:before {
  content: '';
  display: block;
}
.destination-guide:after {
  content: '';
  display: table;
  clear: both;
}
#locations {
  list-style: none;
  width: 31.25%;
  background-color: #12022b;
  color: #ace2c1 !important;
  float: left;
}
#locations .destination-item {
  width: 100%;
  padding: 10px;
  float: left;
  position: relative;
  z-index: 20;
  border-bottom: 2px solid #ace2c1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#locations .destination-item:hover,
#locations .destination-item.hover {
  color: #12022b;
  background: #ace2c1;
  border-bottom: 2px solid #12022b;
}
#map_canvas {
  width: 31.25%;
  height: 480px;
  float: left;
  position: relative;
  z-index: 30 !important;
}
#content {
  width: 300px;
}
#more-info {
  width: 37.5%;
  height: 480px;
  float: right;
  background: #12022b;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#more-info * {
  position: relative;
  z-index: 40;
}
#more-info > div {
  background: #ace2c1;
  -moz-box-shadow: 0 0 14px rgba(70, 49, 1, 0.5);
  -webkit-box-shadow: 0 0 14px rgba(70, 49, 1, 0.5);
  padding: 20px;
}
.longdesc {
  display: none;
}
