#locations { 
	list-style: none; 
	width: 250px; 
	float: left;  
	
	.destination-item { 
		padding: 10px;  
		float: left; 
		position: relative; 
		z-index: 20; 
		border-top: 2px solid @blue;
		border-bottom: 2px solid @blue;

		&:hover, 
		&.hover {
			background: #ffe8b2 url(../img/shadow.png) 128px 0 repeat-y;

			h3 {
				color: red; 
				text-shadow: 0 1px 0px rgba(255,255,255,0.3);
			}
		}
	}
}

.destination-guide {
	.clearfix();
}

#map_canvas { width: 100%; height: 400px; width: 300px; float: left; position: relative; z-index: 30 !important; }


#content { width: 300px; }

#more-info { width: 340px; float: right; background: #ffe8b2; padding: 20px; height: 360px; }
#more-info * { position: relative; z-index: 40; }
#more-info > div { background: #e9e2bf; -moz-box-shadow: 0 0 14px rgba(70,49,1,0.5); -webkit-box-shadow: 0 0 14px rgba(70,49,1,0.5); padding: 20px; height: 320px; }
.longdesc { display: none; }