footer {
	display: table;
	width: 100%;
	height: 400px;
	background-color: @blue;
	text-align: center;
	color: @yellow;
	
	.footer-container {
		display: table-cell;
		vertical-align: middle;
		wight: 100%;
		height: 400px;
	}
	span {
		display: block;
		line-height: 1;
		
		&.ft-prompt {
			font-size: 75px;
			font-weight: 100;
			font-family: @lakesight;
		}

		&.ft-hashtag {
			font-size: 125px;
			font-family: @caviar-regular;
		}
	}
}