footer {
	background-color: @blue;
	text-align: center;
	color: @yellow;
	padding: 50px;
		
	.footer-container {
		.box-sizing(border-box);
	}

	span {
		width: 100%;
		display: block;
		line-height: 1;
		
		&.ft-prompt {
			font-size: 75px;
			font-weight: 100;
			font-family: @lakesight;
		}

		&.ft-hashtag {
			font-size: 125px;
			font-family: @caviar-regular;
		}
	}
}