footer {
	background-color: @blue;
	text-align: center;
	color: @yellow;
	padding: 50px;
		
	.footer-container {
		.box-sizing(border-box);
	}

	.ft-text {
		width: 100%;
		display: block;
		line-height: 1;
		
		&.ft-prompt {
			font-size: 75px;
			font-weight: 100;
			font-family: @lakesight;
		}

		&.ft-hashtag {
			font-size: 125px;
			font-family: @caviar-regular;
		}
	}

	#clock {
		font-size: 24px;
		font-family: @caviar-regular;
		margin: 0 0 25px 0;

		.digits {
			display: inline-block;
		}
	}
}