.site-header {
	width: 100%;
	text-align: center;
	background: @blue;
	color: @yellow;

	.site-title {
		display: table;
		width: 100%;
		height: 260px;

		.site-title-wrapper {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			
			img {
				max-width: 800px;
			}
		}
	}
	img {
		width: 100%;
	}

	.site-nav {
		background: @blue;
		margin: 0 auto;
		.clearfix();
		display: block;
	
		li {
			float: left;
			width: percentage(1 / 6);
		}

		a {
			text-align: center;
			color: @green;
			display: block;
			width: 100%;
			height: 50px;
			padding-top: 10px;
			font-size: 18px;
			font-family: @caviar-regular;
			.box-sizing(border-box);

			&:hover {
				background-color: @green;
				color: @blue;
				text-decoration: none;
			}
		}
	}
}

