.site-header {
	width: 100%;
	text-align: center;
	background: @blue;
	color: @yellow;

	.site-title {
		display: table;
		width: 100%;
		height: 400px;

		.logo {
			display: table-cell;
			vertical-align: middle;
			font-size: 90px;
			font-family: @caviar-regular;

			span {
				display: inline-block;
				font-size: 200px;
				font-weight: 100;
				font-family: @lakesight;
				margin-left: 8px;
			}
		}
	}
	img {
		width: 100%;
	}

	.site-nav {
	
		li {
			text-align: center;
			display: inline-block;
			width: percentage(1 / 7);
			height: 50px;
			font-family: @caviar-regular;
			font-size: 20px;
			padding-top: 10px; 
			.box-sizing(border-box);
			
			a {
				color: @green;
				text-decoration: none;
			}

			&:hover {
				background-color: @green;

				a {
					color: @blue;
				}
			}
		}
	}
}

