.wrapper {
	width: 75%;
	margin: 0 auto;
	background: @blue;
}
.container {
	width: 95%;
	margin: 0 auto;
	background-color: @green;
}

.layout-section {
	width: 95%;
	margin: 15px auto;
	.clearfix();

	
	.layout-section-content {
		width: 50%;

		.content-wrapper {
			width: 90%;
			margin: 0 auto;
		}

		img {
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
		
		&.left {
			float: left;
		}

		&.right {
			float: right;
		}

		&.full {
			width: 100%;
		}

	}
}

@media screen and (max-width: 900px) {
	.wrapper {
		width: 95%;
	}
	.container {
		width: 95%;
	}

	.layout-section {
		.layout-section-content {
			width: 100%;
			float: none;
		}
	}
}