.wrapper {
	width: 75%;
	max-width: 960px;
	margin: 0 auto;
	background: @blue;
	.box-shadow(0px 10px 10px 10px #C0C0C0);

	@media screen and (max-width: 768px) {
		width: 100%;
		.box-shadow(none);
		
	}
}
.container {
	margin: 0 auto;
	background-color: @green;
}

.layout-section {
	padding: 0 0 50px 0;
	
	.layout-section-content {
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		height: 50%;

		.content-wrapper {
			margin: 0 auto;

			&.center {
				text-align: center;
			}
		}

		img {
			max-width: 100%;
			display: block;
			margin: 0 auto;

			&.full {
				width: 100%;
			}
		}
		
		&.full {
			display: block;
			width: 100%;
			text-align: center;
		}

	}
}

@media screen and (max-width: 900px) {
	.wrapper {
		width: 95%;
	}
	.container {
		width: 95%;
	}

	.layout-section {
		display: inherit;
		.layout-section-content {
			width: 100%;
			display: inherit;
		}
	}
}