.people-list {
	text-align: center;
	margin-bottom: 30px;

	li {
		width: percentage(1 / 5);
		display: inline-block;
		margin-left: 30px;

		.people-img-container {
			position: relative;
			width: 100%;

			img {
				width: 100%;
				border-radius: 50%;
			}

			.bridal-list-name {
				position: absolute;
				display: block;
				top: 50%;
				left: 0;
				right: 0;
				width: 100%;
			}
		}
	}
}