.people-list {
	text-align: center;

	li {
		display: inline-block;

		.people-img-container {
			position: relative;

			img {
				border-radius: 50%;
			}

			.bridal-list-name {
				position: absolute;
				display: block;
				top: 50%;
				left: 0;
				right: 0;
				width: 200px;
				height: 200px;
			}
		}
	}
}