.section-hd {
	font-size: 40px;
	font-family: @caviar-regular;
	text-align: center;
	margin-bottom: 15px;
}

p {
	font-size: 14px;
}

.back-to-top {
	font-family: @caviar-regular;
	display: block;
	width: 100%;
	padding-top: 15px;
	text-align: center;
	text-decoration: none;

	&:before {
		content: '- ';
	}

	&:after {
		content: ' -'
	}

	&:hover {
		text-decoration: none;
	}
}