.section-hd {
	font-family: @caviar-regular;
	text-align: center;
}

.back-to-top {
	font-family: @caviar-regular;
	display: block;
	width: 100%;
	padding-top: 15px;
	clear: both;
	text-align: center;
	text-decoration: none;

	&:before {
		content: '- ';
	}

	&:after {
		content: ' -'
	}

	&:hover {
		text-decoration: underline;
	}
}