<div class="content-container">
<!--     <img src="/assets/img/atlanta_postcard.jpg" alt="Greeting from Atlanta">
 -->
    <p class="lead">Atlanta is an amazing city and you'll be staying in the heart of downton. <br>Here's a list of a few fun things to do when you're not on the dance floor!</p> 

<div class="destination-guide">	   
	<ul id="locations">   
		<li class="destination-item" data-geo-lat="33.757941" data-geo-long="-84.393885">
			<h3>CNN Studio Tour</h3> 
			<div class="longdesc">
				<p><strong>About:</strong> Inside CNN Atlanta offers a once-in-a-lifetime view of the global headquarters of CNN.</p>

				<p><strong>Tip:</strong> Look for Anderson Cooper and bring him to the wedding!</p>

				<p><a href="http://www.cnn.com/tour/">Check it out!</a></p>
			</div>
		</li>

		<li class="destination-item" data-geo-lat="33.771688" data-geo-long="-84.389322">
			<h3>The Varsity</h3>
			<div class="longdesc">
				<p><strong>About:</strong> <em>"What'll ya have!"</em> The Varsity has been serving customers in Atlanta since 1928. People from all over the world come to experience The Varsity because there is nothing like it anywhere!</p>

				<p><strong>Tip 1:</strong> Try the Frosted Orange Shake, it's killer.</p>

				<p><strong>Tip 2:</strong> Grab a hat and take a picture, check <a href="http://instagram.com/p/SdornNCvIP/?modal=true">Sarah-Beth</a> and <a href="http://instagram.com/p/SdofFQivIC/?modal=true">Reuben</a> out. </p>

			</div>
		</li>

		<li class="destination-item" data-geo-lat="33.763377" data-geo-long="-84.395073">
			<h3>The Georgia Aquarium</h3> 
			<div class="longdesc">
				<p><strong>About:</strong> Georgia Aquarium is an entertaining, intriguing and educational experience for guests of all ages. While promoting a fun and enjoyable learning experience, the Aquarium instills in its guests a new appreciation for the world’s aquatic biodiversity.</p>

				<p><strong>Tip: </strong>The Georgia Aquarium is right accross from the World of Coke</p>
			</div>
		</li>

		<li class="destination-item" data-geo-lat="33.762798" data-geo-long="-84.392381">
			<h3>The World of Coke</h3>
			<div class="longdesc">
				<p><strong>About:</strong> The World of Coca‑Cola at Pemberton Place® celebrated its Grand Opening on May 24, 2007. It’s the only place where you can explore the fascinating story of Coca‑Cola® – the world’s best-known beverage brand..</p>

				<p><strong>Tip: </strong>Make sure you go to the tasting room, and try some Coke flavors from around the globe, some of them are truly out of this world!</p>
			</div>
		</li>

		<li class="destination-item" data-geo-lat="33.784684" data-geo-long="-84.404995">
			<h3>Antico's Pizza</h3>
			<div class="longdesc">
				<p><strong>About:</strong> While this spot might be a little bit of a trip from the hotels it's definetely worth it. Head over here if you want to check out Atlanta's very own <em>'Little Italy'</em> and try some of the best neopolitan pizza's in the city.</p>

				<p><strong>Tip:</strong> They are <strong>closed</strong> on Sunday.</p>
			</div>
		</li>
		<li class="destination-item" data-geo-lat="33.759484" data-geo-long="-84.392325">
			<h3>Fountain of Rings</h3>
			<div class="longdesc">
				<p><strong>About:</strong> The Fountain of Rings is located in Centenial Olympic Park. Less than two decades ago, Centennial Olympic Park’s neighborhood was a run-down part of town. That all began to change on the day Atlanta Committee for the Olympic Games CEO Billy Payne gazed out his office window and a brilliant inspiration came to him – to convert a multi-block eyesore into a glorious gathering spot for visitors and residents to enjoy during the 1996 Centennial Olympic Games and during our wedding weekend.</p>

				<p><strong>Tip: </strong>Atlanta recently opened a new Trolley route that will take right to the park from the Hotel.</p>
			</div>
		</li>

		<li class="destination-item" data-geo-lat="33.759081" data-geo-long="-84.389726">
			<h3>Skyview Atlanta</h3>
			<div class="longdesc">
				<p><strong>About:</strong> Towering nearly 20 stories above Centennial Park, the SkyView Ferris wheel features 42 climate-controlled gondolas providing guest with breathtaking panoramic views of downtown Atlanta and the surrounding metropolitan area. Those looking for an even more enhanced experience will enjoy our VIP gondola boasting Ferrari leather seats, glass floor and a longer flight time. And, with its convenient location just steps from many of Atlanta’s most popular attractions, SkyView Atlanta is the perfect compliment to your downtown adventure. SkyView. You can see Atlanta from here.</p>
			</div>
		</li>

		<li class="destination-item" data-geo-lat="33.755320" data-geo-long="-84.371095">
			<h3>The King Center</h3>
			<div class="longdesc">
				<p><strong>About:</strong> Established in 1968 by Mrs. Coretta Scott King, The Martin Luther King, Jr. Center for Nonviolent Social Change (“The King Center”) has been a global destination, resource center and community institution for over a quarter century. Nearly a million people each year make pilgrimage to the National Historic Site to learn, be inspired and pay their respects to Dr. King’s legacy.</p>
			</div>
		</li>

		<li class="destination-item" data-geo-lat="33.760159" data-geo-long="-84.394140">
			<h3>The College Football Hall of Fame</h3>
			<div class="longdesc">
				<p><strong>About:</strong> A recent addition to Atlanta, the College Football Hall of Fame and fan experience is awesome. A sleek modern museum offers exhibits on famous college football players & an indoor field.</p>
			</div>
		</li>

		<li class="destination-item" data-geo-lat="33.769955" data-geo-long="-84.379098">
			<h3>Atlanta City Pass</h3>
			<div class="longdesc">
				<p><strong>About:</strong> The <a href="http://www.citypass.com/atlanta/georgia-aquarium?mv_source=rkg&creative=56083423229&adpos=1t1&device=c&network=g&matchtype=b&gclid=CJDk09mHrsMCFQET7AodQUoAgw" target="_blank">Atlanta City Pass</a> get you discounted access to multiple attractions. The pass includes access to The Georgia Aquarium, World of Coca-Cola, Inside CNN and more! </p>
			</div>
		</li>
	</ul>

     <div id="map_canvas"></div>
     
     <div id="more-info"><div>
     
    <h2>More Info</h2>
    <p>Hover over location on the left. (JavaScript must be enabled)</p>
	</div></div></div>
</div>