<div class="content-container">
    <div class="video"> 
        <iframe src="http://player.vimeo.com/video/115591527?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="980" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>