<div class="content-container">
    <img src="/assets/img/ri_sb_trees.jpg" alt="">

    <h2 class="section-sub-hd">Rehearsal Dinner</h2>
    <p class="lead">Saturday, October 10th<sup>th</sup> at 6 o'clock in the evening at <br>
        <a href="http://www.rockbarn.org/" target="_blank">The Rock Barn</a> (Transportation provided if needed)</p>

    <h2 class="section-sub-hd">The Ceremony <span class="amp">&</span> Reception</h2>
    <p class="lead">Sunday, October 11<sup>th</sup> at 5 o'clock in the evening at <br>
        <a href="http://www.clubcorp.com/Clubs/Commerce-Club-Atlanta">The Atlanta Commerce Club</a></p>

    <!-- <h2 class="section-sub-hd">Brunch</h2>
    <p>Monday, October 12<sup>th</sup><br>
        <strong>Time and Location TBA</strong></p> -->

    <p>Formal invitation and more details to come.</p>
   
</div>