<div class="content-container">
    <img src="/assets/img/ri_sb_bw.jpg" alt="">

    <div class="intro">
        <span class="intro-hd">Celebrate with Us</span>

       <!--  <div class="intro-wrapper">
            <h2>Sarah-Beth Kirshner</h2>

            <span class="amp big">&</span>

            <h2>Reuben Ingber</h2>
        </div> -->

        <p class="lead">We are so excited that you will be joining us this October in Atlanta, Georgia to celebrate our special day. Our website has all the information you might need leading up to the big weekend.</p>
    </div>
</div>