<div class="content-container">
    <img src="/assets/img/ri_sb_green.jpg" alt="">

    <p class="lead">We are so <strong>happy</strong> that you'd want to help us start our new life together. <br>To see what we've registered for you can click any of the links below.</p>

    <p class="lead">
    	<a href="http://www.macys.com/registry/wedding/guest/?registryId=2207628" target="_blank">Macy's</a> | 
    	<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541597258&eventType=Wedding&pwsurl=?mcid=EM_triggeredem_emailregistryplural__allpromos" target="_blank">Bed, Bath & Beyond</a> | 
    	<a href="http://www.crateandbarrel.com/Gift-Registry/sarah-beth-kirshner-and-reuben-ingber/r5240404" target="_blank">Crate & Barrel</a></p>
   
</div>