<div class="content-container">
    <img src="/assets/img/ri_sb_green.jpg" alt="">

    <p class="lead">We are so <strong>happy</strong> that you'd want to help us start our new life together. <br>To see what we've registered for you can click any of the links below.</p>

    <p class="lead"><a href="#" target="_blank">Macy's</a> | <a href="#" target="_blank">Bed, Bath & Beyond</a> | <a href="#" target="_blank">Crate & Barrel</a></p>
   
</div>