<div class="content-container">
    <img src="/assets/img/ri_sb_light.jpg" alt="">
    
    <h2 class="section-sub-hd">Travel By Plane</h2>

    <p>The Hartsfield-Jackson International Airport is a short 10-mile drive from downtown Atlanta and all the wedding action.</p>

    <p>The wedding hotels are both accessible from the airport via <strong><a href="http://www.itsmarta.com/" target="_blank">MARTA</a></strong>, Atlanta's train system. You can take MARTA from the airport to the PeachTree Center Station, just steps aways from the hotels.</p>

    <h2 class="section-sub-hd">Travel By Car</h2>

    <p>Taking a roadtrip to Atlanta, here's a <strong><a href="https://www.google.com/maps/place/Commerce+Club+-+Atlanta/@33.759139,-84.387249,15z/data=!4m2!3m1!1s0x0:0xf24cc3795ebbe668" target="_blank">map</a></strong>.</p>
    

    <h2 class="section-sub-hd">Accomodations</h2>

    <p>A block of hotel rooms have been reserved at the <a href="http://www.ritzcarlton.com/en/Properties/Atlanta/Default.htm" target="_blank">Ritz Carlton Downtown Atlanta</a> and the <a href="http://doubletree3.hilton.com/en/hotels/georgia/doubletree-by-hilton-hotel-atlanta-downtown-ATLSSDT/index.html" target="_blank">DoubleTree</a>.</p>
    
    <!-- <p>For the Ritz Carlton use reservation code [CODE] or <a href="#">Click Here</a></p> -->

    <!-- <p>For the DoubleTree use reservation code [CODE] or <a href="#">Click Here</a></p> -->

    <p>Both hotels are located directly nearby the Atlanta Commerce Club</p>
</div>