<div class="content-container">
    <ul class="ui-list inline-block people-list">
        <li>
            <div class="people-img-container">
                <img src="assets/img/eab.jpg" alt="">
                <div class="people-content">
                    <div class="people-text-container">
                        <div class="people-text-wrapper">
                            <span class="people-title">Emily Berman</span>
                            <span class="people-title">Maid of Honor</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        
        <li>
            <div class="people-img-container">
                <img src="assets/img/slf.jpg" alt="">
                <div class="people-content">
                    <div class="people-text-container">
                        <div class="people-text-wrapper">
                            <span class="people-title">Samantha Fox</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        
        <li>
            <div class="people-img-container">
                <img src="assets/img/mjm.jpg" alt="">
                <div class="people-content">
                    <div class="people-text-container">
                        <div class="people-text-wrapper">
                            <span class="people-title">Melissa Margulis</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <ul class="ui-list inline-block people-list">
        <li>
            <div class="people-img-container">
                <img src="assets/img/bi.jpg" alt="">
                <div class="people-content">
                    <div class="people-text-container">
                        <div class="people-text-wrapper">
                            <span class="people-title">Ben Ingber</span>
                            <span class="people-title">Best Man</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="people-img-container">
                <img src="assets/img/dr.jpg" alt="">
                <div class="people-content">
                    <div class="people-text-container">
                        <div class="people-text-wrapper">
                            <span class="people-title">Dan Risner</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        
        <li>
            <div class="people-img-container">
                <img src="assets/img/jds.jpg" alt="">
                <div class="people-content">
                    <div class="people-text-container">
                        <div class="people-text-wrapper">
                            <span class="people-title">Josh Sussman</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="people-img-container">
                <img src="assets/img/bp.jpg" alt="">
                <div class="people-content">
                    <div class="people-text-container">
                        <div class="people-text-wrapper">
                            <span class="people-title">Brandon Patterson</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <ul class="ui-list inline-block people-list">
        <li>
            <div class="people-img-container">
                <img src="assets/img/emk.jpg" alt="">
                <div class="people-content">
                    <div class="people-text-container">
                        <div class="people-text-wrapper">
                            <span class="people-title">Eve Kirshner</span>
                            <span class="people-title">Junior Bridemaid</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        
        <li>
            <div class="people-img-container">
                <img src="assets/img/as.jpg" alt="">
                <div class="people-content">
                    <div class="people-text-container">
                        <div class="people-text-wrapper">
                            <span class="people-title">Aaron Samuelson</span>
                            <span class="people-title">Ring Bearer</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        
        <li>
            <div class="people-img-container">
                <img src="assets/img/egk.jpg" alt="">
                <div class="people-content">
                    <div class="people-text-container">
                        <div class="people-text-wrapper">
                            <span class="people-title">Elias Kirshner</span>
                            <span class="people-title">Ring Bearer</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>