<div class="footer">
    <div class="ft-wrapper">
        <div class="ft-left">
            <div class="share-the-love">
                <span class="share">Share the Love</span>
                <h1>#Weddingber</h1>
            </div>
        </div>

        <div class="ft-right">
            <div id="clock" class="countdown"></div>
        </div>
    </div>
    <div class="credits">Made with &#9829; in NYC | <a href="http://reubeningber.com">{Ingber Development Co.}</a></div>
</div>
